/source/democlient/logs/yks-crud-error.log
/source/democlient/logs/yks-crud-info.log
/source/democlient/logs/yks-crud-info.log.2018-06-12
/source/democlient/logs/yks-crud-info.log.2018-06-13
/source/urc-bp-common/logs/yks-crud-error.log
/source/urc-bp-common/logs/yks-crud-info.log
/source/urc-bp-impl/logs/yks-crud-error.log
/source/urc-bp-impl/logs/yks-crud-info.log
/source/urc-service-provider/logs/yks-demo-project-error.log.2018-06-12
/source/urc-service-provider/logs/yks-demo-project-error.log.2018-06-13
/source/urc-service-provider/logs/yks-demo-project-info.log.2018-06-12
/source/urc-service-provider/logs/yks-demo-project-info.log.2018-06-13
