<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    
    <!-- 定义日志文件 输入位置,开启注释需要开启下面的注释  FileNamePattern -->  
 <!--    <property name="log_dir" value="/opt" />  --> 
    
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender" >
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%-5p][%t]%c  - %m%n</pattern>
        </encoder>
    </appender>
    


    <!--按天生成日志-->
    <appender name="logFile"  class="ch.qos.logback.core.rolling.RollingFileAppender" >
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	   <!-- <FileNamePattern>
                ${log_dir}/ykslog/%d{yyyy-MM-dd}/%d{HH}/%d{yyyy-MM-dd HH}.%i.log
            </FileNamePattern> 
        -->
            <FileNamePattern>
                ykslog/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}_%d{HH}.%i.log
            </FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss}[%5p][%t]%c - %m%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.yks.urc.mapper" additivity="false" level="debug">
        <appender-ref ref="console"/>
    </logger>
    
    <logger name="com.yks.urc" additivity="false" level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile" />
    </logger>

    <root level="error">
        <appender-ref ref="console"/>
        <appender-ref ref="logFile" />
    </root>
    
    

</configuration>