<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.DataRuleFiledMapper">
  <resultMap id="BaseResultMap" type="com.yks.urc.entity.DataRuleFiled">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="data_rule_obj_id" jdbcType="BIGINT" property="dataRuleObjId" />
    <result column="field_code" jdbcType="VARCHAR" property="fieldCode" />
    <result column="entity_code" jdbcType="VARCHAR" property="entityCode" />
    <result column="clause_type" jdbcType="TINYINT" property="clauseType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, data_rule_obj_id, field_code, entity_code, clause_type, create_time, create_by, 
    modified_time, modified_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from urc_data_rule_filed
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from urc_data_rule_filed
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yks.urc.entity.DataRuleFiled">
    insert into urc_data_rule_filed (id, data_rule_obj_id, field_code, 
      entity_code, clause_type, create_time, 
      create_by, modified_time, modified_by
      )
    values (#{id,jdbcType=BIGINT}, #{dataRuleObjId,jdbcType=BIGINT}, #{fieldCode,jdbcType=VARCHAR}, 
      #{entityCode,jdbcType=VARCHAR}, #{clauseType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yks.urc.entity.DataRuleFiled">
    insert into urc_data_rule_filed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dataRuleObjId != null">
        data_rule_obj_id,
      </if>
      <if test="fieldCode != null">
        field_code,
      </if>
      <if test="entityCode != null">
        entity_code,
      </if>
      <if test="clauseType != null">
        clause_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="dataRuleObjId != null">
        #{dataRuleObjId,jdbcType=BIGINT},
      </if>
      <if test="fieldCode != null">
        #{fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="entityCode != null">
        #{entityCode,jdbcType=VARCHAR},
      </if>
      <if test="clauseType != null">
        #{clauseType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yks.urc.entity.DataRuleFiled">
    update urc_data_rule_filed
    <set>
      <if test="dataRuleObjId != null">
        data_rule_obj_id = #{dataRuleObjId,jdbcType=BIGINT},
      </if>
      <if test="fieldCode != null">
        field_code = #{fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="entityCode != null">
        entity_code = #{entityCode,jdbcType=VARCHAR},
      </if>
      <if test="clauseType != null">
        clause_type = #{clauseType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yks.urc.entity.DataRuleFiled">
    update urc_data_rule_filed
    set data_rule_obj_id = #{dataRuleObjId,jdbcType=BIGINT},
      field_code = #{fieldCode,jdbcType=VARCHAR},
      entity_code = #{entityCode,jdbcType=VARCHAR},
      clause_type = #{clauseType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>