<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.FieldMapper">
  <resultMap id="BaseResultMap" type="com.yks.urc.entity.Field">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="field_code" jdbcType="VARCHAR" property="fieldCode" />
    <result column="field_name" jdbcType="VARCHAR" property="fieldName" />
    <result column="entity_code" jdbcType="BIGINT" property="entityCode" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="maxlength" jdbcType="INTEGER" property="maxlength" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, field_code, field_name, entity_code, data_type, maxlength, create_time, create_by, 
    modified_time, modified_by
  </sql>
  <insert id="insert" parameterType="com.yks.urc.entity.Field">
    insert into urc_field (id, field_code, field_name, 
      entity_code, data_type, maxlength, 
      create_time, create_by, modified_time, 
      modified_by)
    values (#{id,jdbcType=BIGINT}, #{fieldCode,jdbcType=VARCHAR}, #{fieldName,jdbcType=VARCHAR}, 
      #{entityCode,jdbcType=BIGINT}, #{dataType,jdbcType=VARCHAR}, #{maxlength,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=VARCHAR})
  </insert>
  <select id="getFieldMap" resultType="com.yks.urc.entity.Field">
    select field_code,field_name from urc_field
  </select>
</mapper>