<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.IDataRuleTemplMapper">
    <resultMap id="BaseResultMap" type="com.yks.urc.entity.DataRuleTemplDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="templ_id" jdbcType="BIGINT" property="templId"/>
        <result column="templ_name" jdbcType="VARCHAR" property="templName"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, templ_id,templ_name, user_name, remark, create_time, create_by, modified_time, modified_by
  </sql>
    <!--根据模板Id获取数据-->
    <select id="selectByTemplId"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from urc_data_rule_templ
        <where>
            templ_id = #{templId,jdbcType=BIGINT}
            <if test="createBy != null and createBy != ''">
               and create_by=#{createBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <!--分页-->
    <select id="listDataRuleTemplDOsByPage" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from urc_data_rule_templ
        <where>
            <if test="createBy != null and createBy != ''">
                create_by=#{createBy,jdbcType=VARCHAR}
            </if>
            <if test="templNames != null and templNames != ''">
                and templ_name in
                <foreach item="item" index="index" collection="templNames" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by create_time desc
        limit #{currIndex},#{pageSize}
    </select>
    <select id="getCounts" resultType="java.lang.Long">
        select count(*) from urc_data_rule_templ
        <where>
            <if test="createBy != null and createBy != ''">
                create_by=#{createBy,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from urc_data_rule_templ
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yks.urc.entity.DataRuleTemplDO">
    insert into urc_data_rule_templ (id, templ_name, user_name, 
      remark, create_time, create_by, 
      modified_time, modified_by)
    values (#{id,jdbcType=BIGINT}, #{templName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.yks.urc.entity.DataRuleTemplDO">
        insert into urc_data_rule_templ
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="templName != null">
                templ_name,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="modifiedBy != null">
                modified_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="templName != null">
                #{templName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                #{modifiedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yks.urc.entity.DataRuleTemplDO">
        update urc_data_rule_templ
        <set>
            <if test="templName != null">
                templ_name = #{templName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                modified_by = #{modifiedBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yks.urc.entity.DataRuleTemplDO">
    update urc_data_rule_templ
    set templ_name = #{templName,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>