<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.IDataRuleSysMapper">
    <resultMap id="BaseResultMap" type="com.yks.urc.entity.DataRuleSysDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
        <result column="data_rule_id" jdbcType="BIGINT" property="dataRuleId"/>
        <result column="sys_key" jdbcType="CHAR" property="sysKey"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
    </resultMap>

    <resultMap id="FullBaseResultMap" type="com.yks.urc.entity.DataRuleSysDO">
        <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
        <result column="sys_key" jdbcType="CHAR" property="sysKey"/>
        <result column="sys_name" jdbcType="VARCHAR" property="sysName"/>
        <result column="data_rule_id" jdbcType="BIGINT" property="dataRuleId"/>
        <collection property="dataRuleColDOS" ofType="com.yks.urc.entity.DataRuleColDO">
            <id column="did" jdbcType="BIGINT" property="id"/>
            <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
            <result column="col_json" jdbcType="LONGVARCHAR" property="colJson"/>
            <result column="dentity_code" jdbcType="VARCHAR" property="entityCode"/>
        </collection>
        <collection property="expressionDOS" ofType="com.yks.urc.entity.ExpressionDO">
            <id column="eid" jdbcType="BIGINT" property="id"/>
            <result column="expression_id" jdbcType="BIGINT" property="expressionId"/>
            <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
            <result column="is_and" jdbcType="TINYINT" property="isAnd"/>
            <result column="field_code" jdbcType="VARCHAR" property="filedCode"/>
            <result column="eentity_code" jdbcType="VARCHAR" property="entityCode"/>
            <result column="oper" jdbcType="VARCHAR" property="oper"/>
            <result column="parent_expression_id" jdbcType="BIGINT" property="parentExpressionId"/>
            <result column="oper_values" jdbcType="LONGVARCHAR" property="operValues"/>
        </collection>
    </resultMap>

    <!--数据权限Sys  列权限-->
    <resultMap id="ColBaseResultMap" type="com.yks.urc.entity.DataRuleSysDO">
        <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
        <result column="sys_key" jdbcType="CHAR" property="sysKey"/>
        <result column="data_rule_id" jdbcType="BIGINT" property="dataRuleId"/>
        <collection property="dataRuleColDOS" ofType="com.yks.urc.entity.DataRuleColDO">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
            <result column="col_json" jdbcType="LONGVARCHAR" property="colJson"/>
            <result column="entity_code" jdbcType="VARCHAR" property="entityCode"/>
        </collection>
    </resultMap>
    <!--数据权限Sys  行权限-->
    <resultMap id="RowBaseResultMap" type="com.yks.urc.entity.DataRuleSysDO">
        <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
        <result column="data_rule_id" jdbcType="BIGINT" property="dataRuleId"/>
        <result column="sys_key" jdbcType="CHAR" property="sysKey"/>
        <collection property="expressionDOS" ofType="com.yks.urc.entity.ExpressionDO">
            <result column="expression_id" jdbcType="BIGINT" property="expressionId"/>
            <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
            <result column="is_and" jdbcType="TINYINT" property="isAnd"/>
            <result column="field_code" jdbcType="VARCHAR" property="filedCode"/>
            <result column="entity_code" jdbcType="VARCHAR" property="entityCode"/>
            <result column="oper" jdbcType="VARCHAR" property="oper"/>
            <result column="parent_expression_id" jdbcType="BIGINT" property="parentExpressionId"/>
            <result column="oper_values" jdbcType="LONGVARCHAR" property="operValues"/>
        </collection>
    </resultMap>


    <sql id="Base_Column_List">
    id, data_rule_sys_id, data_rule_id, sys_key, create_time, create_by, modified_time, modified_by
  </sql>
    <!--新增-->
    <insert id="insert" parameterType="com.yks.urc.entity.DataRuleSysDO">
        insert into urc_data_rule_sys ( data_rule_id, sys_key,
        create_time, create_by, modified_time, modified_by)
        values ( #{dataRuleId,jdbcType=BIGINT}, #{sysKey,jdbcType=CHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
        #{modifiedTime,jdbcType=TIMESTAMP},#{modifiedBy,jdbcType=VARCHAR})
    </insert>

    <!--批量新增-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into urc_data_rule_sys ( data_rule_sys_id,data_rule_id, sys_key,create_time, create_by, modified_time,
        modified_by)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            ( #{item.dataRuleSysId,jdbcType=BIGINT},#{item.dataRuleId,jdbcType=BIGINT}, #{item.sysKey,jdbcType=CHAR},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.createBy,jdbcType=VARCHAR},
            #{item.modifiedTime,jdbcType=TIMESTAMP},#{item.modifiedBy,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--根据dataRuleId 获取数据权限Sys  包括对应的 列权限 行权限-->
    <select id="getDataRuleSysDatas" parameterType="java.lang.Long" resultMap="FullBaseResultMap">
        select
        us.sys_key,
        up.sys_name,
        ud.id as did,
        ud.data_rule_sys_id,
        ud.col_json,
        ud.entity_code AS dentity_code,
        ue.id as eid,
        ue.expression_id,
        ue.data_rule_sys_id,
        ue.is_and,
        ue.field_code,
        ue.entity_code AS eentity_code,
        ue.oper,
        ue.parent_expression_id,
        ue.oper_values
        from urc_data_rule_sys us
        left join urc_permission up on us.sys_key = up.sys_key
        left join urc_data_rule_col ud on us.data_rule_sys_id = ud.data_rule_sys_id
        left join urc_expression ue on us.data_rule_sys_id = ue.data_rule_sys_id
        where us.data_rule_id = #{dataRuleId,jdbcType=BIGINT}
    </select>


    <!--根据dataRuleId 获取数据权限Sys  包括对应的 列权限-->
    <select id="getDataRuleSysColDatas" parameterType="java.lang.Long" resultMap="ColBaseResultMap">
        select
        us.sys_key,
        us.data_rule_sys_id,
        ud.id,
        ud.data_rule_sys_id,
        ud.col_json,
        ud.entity_code
        from urc_data_rule_sys us
        left join urc_data_rule_col ud on us.data_rule_sys_id = ud.data_rule_sys_id
        where us.data_rule_id = #{dataRuleId,jdbcType=BIGINT}
    </select>

    <!--根据dataRuleIds 获取数据权限Sys  包括对应的 行权限-->
    <select id="getDataRuleSysRowDatas" parameterType="java.lang.Long" resultMap="RowBaseResultMap">
        select
        us.sys_key,
        us.data_rule_sys_id,
        ue.expression_id,
        ue.data_rule_sys_id,
        ue.is_and,
        ue.field_code,
        ue.entity_code,
        ue.oper,
        ue.parent_expression_id,
        ue.oper_values
        from
        urc_data_rule_sys us
        left join urc_expression ue on us.data_rule_sys_id = ue.data_rule_sys_id
        where us.data_rule_id = #{dataRuleId,jdbcType=BIGINT}
    </select>


</mapper>