<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.IDataRuleMapper">
    <resultMap id="BaseResultMap" type="com.yks.urc.entity.DataRuleDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="data_rule_id" jdbcType="BIGINT" property="dataRuleId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, data_rule_id, user_name, create_time, create_by, modified_time, modified_by
  </sql>
    <!--批量添加用户数据权限关系-->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into urc_data_rule
        (data_rule_id, user_name, create_time, create_by)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.dataRuleId,jdbcType=TINYINT},#{item.userName,jdbcType=VARCHAR}
            ,#{item.createTime,jdbcType=TIMESTAMP},#{item.createBy,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!--根据userName列表批量删除  包括用户-数据权限数据   数据权限Sys数据  行权限数据  列权限数据-->
    <delete id="delBatchByUserNames" parameterType="java.util.List">
        delete ut,us,uc,ue
        from
        urc_data_rule ut
        left join urc_data_rule_sys us on ut.data_rule_id = us.data_rule_id
        left join urc_data_rule_col uc on us.data_rule_sys_id = uc.data_rule_sys_id
        left join urc_expression ue on us.data_rule_sys_id = ue.data_rule_sys_id
        where ut.user_name in
        <foreach collection="list" item="userName" open="(" separator="," close=")">
            #{userName}
        </foreach>
    </delete>


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from urc_data_rule
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from urc_data_rule
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <insert id="insertSelective" parameterType="com.yks.urc.entity.DataRuleDO">
        insert into urc_data_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="modifiedBy != null">
                modified_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                #{modifiedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yks.urc.entity.DataRuleDO">
        update urc_data_rule
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                modified_by = #{modifiedBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yks.urc.entity.DataRuleDO">
    update urc_data_rule
    set user_name = #{userName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>