<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.IRoleMapper">
    <resultMap id="BaseResultMap" type="com.yks.urc.entity.RoleDO">
        <id column="id" jdbcType="TINYINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="is_active" jdbcType="TINYINT" property="isActive"/>
        <result column="is_authorizable" jdbcType="TINYINT" property="isAuthorizable"/>
        <result column="is_forever" jdbcType="TINYINT" property="isForever"/>
        <result column="effective_time" jdbcType="TIMESTAMP" property="effectiveTime"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
     id, role_name, is_active, is_authorizable, is_forever, effective_time, expire_time,
     create_time, create_by, modified_time, modified_by
   </sql>

    <insert id="insert" parameterType="com.yks.urc.entity.RoleDO">
    insert into urc_role
     (role_id,role_name, is_active,
      is_authorizable, is_forever, effective_time,
      expire_time, create_time, create_by,
      modified_time, modified_by)
    values
     (#{roleId}, #{roleName,jdbcType=VARCHAR}, #{isActive,jdbcType=TINYINT},
      #{isAuthorizable,jdbcType=TINYINT}, #{isForever,jdbcType=TINYINT}, #{effectiveTime,jdbcType=TIMESTAMP},
      #{expireTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR})
  </insert>

    <insert id="insertOrUpdate" useGeneratedKeys="true" keyProperty="id" parameterType="com.yks.urc.entity.RoleDO">
    insert into urc_role
     (role_name, is_active,
      is_authorizable, is_forever, effective_time,
      expire_time, create_time, create_by,
      modified_time, modified_by)
      values
      ( #{roleName,jdbcType=VARCHAR}, #{isActive,jdbcType=TINYINT},
      #{isAuthorizable,jdbcType=TINYINT}, #{isForever,jdbcType=TINYINT}, #{effectiveTime,jdbcType=TIMESTAMP},
      #{expireTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR},
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR})
      on DUPLICATE key
      UPDATE
        role_name = #{roleName,jdbcType=VARCHAR},
        is_active = #{isActive,jdbcType=TINYINT},
        is_authorizable = #{isAuthorizable,jdbcType=TINYINT},
        is_forever = #{isForever,jdbcType=TINYINT},
        effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        create_by = #{createBy,jdbcType=VARCHAR},
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
        modified_by = #{modifiedBy,jdbcType=VARCHAR}
    </insert>

    <!--批量删除-->
    <delete id="deleteBatch" parameterType="java.util.List">
      delete from urc_role where id in
        <foreach collection="list" item = "roleId" open="(" separator="," close=")">
            #{ roleId}
        </foreach>
    </delete>
    <!--根据角色Id获取角色信息-->
    <select id="getRoleByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from urc_role
        where id = #{id,jdbcType=TINYINT}
    </select>


    <update id="update" parameterType="com.yks.urc.entity.RoleDO">
        update urc_role
        <set>
            <if test="roleName != null">
                role_name = #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=TINYINT},
            </if>
            <if test="isAuthorizable != null">
                is_authorizable = #{isAuthorizable,jdbcType=TINYINT},
            </if>
            <if test="isForever != null">
                is_forever = #{isForever,jdbcType=TINYINT},
            </if>
            <if test="effectiveTime != null">
                effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                modified_by = #{modifiedBy,jdbcType=VARCHAR},
            </if>
        </set>
        where role_id = #{roleId,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yks.urc.entity.RoleDO">
    update urc_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      is_active = #{isActive,jdbcType=TINYINT},
      is_authorizable = #{isAuthorizable,jdbcType=TINYINT},
      is_forever = #{isForever,jdbcType=TINYINT},
      effective_time = #{effectiveTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=CHAR}
  </update>
  
    <!--根据username/syskey获取角色功能权限-->
    <select id="getFuncJsonByUserAndSysKey" resultType="java.lang.String">
        select rp.selected_context
        from urc_user_role ur
        inner join urc_role r ON ur.role_id=r.role_id
        inner join urc_role_permission rp ON rp.role_id=r.role_id
        WHERE ur.user_name=#{userName} and rp.sys_key=#{sysKey}
        AND r.is_active=1
		AND (r.is_forever=1 or now() BETWEEN r.effective_time and r.expire_time)
    </select>  
</mapper>