<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.IUrcSqlMapper">
    <resultMap id="BaseResultMap" type="com.yks.urc.entity.UrcSqlDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sql_id" jdbcType="BIGINT" property="sqlId"/>
        <result column="data_rule_sys_id" jdbcType="BIGINT" property="dataRuleSysId"/>
        <result column="entity_code" jdbcType="VARCHAR" property="entityCode"/>
        <result column="hidden_fields" jdbcType="VARCHAR" property="hiddenFields"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,sql_id, data_rule_sys_id, entity_code, hidden_fields, create_time, create_by, modified_time,
    modified_by
  </sql>
    <!--获取list列表数据-->
    <select id="listUrcSqlDOs" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from urc_sql where data_rule_sys_id in
        <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from urc_sql
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from urc_sql
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yks.urc.entity.UrcSqlDO">
    insert into urc_sql (id, data_rule_sys_id, entity_code, 
      hidden_fields, create_time, create_by, 
      modified_time, modified_by)
    values (#{id,jdbcType=BIGINT}, #{dataRuleSysId,jdbcType=BIGINT}, #{entityCode,jdbcType=VARCHAR}, 
      #{hiddenFields,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.yks.urc.entity.UrcSqlDO">
        insert into urc_sql
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="dataRuleSysId != null">
                data_rule_sys_id,
            </if>
            <if test="entityCode != null">
                entity_code,
            </if>
            <if test="hiddenFields != null">
                hidden_fields,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
            <if test="modifiedBy != null">
                modified_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="dataRuleSysId != null">
                #{dataRuleSysId,jdbcType=BIGINT},
            </if>
            <if test="entityCode != null">
                #{entityCode,jdbcType=VARCHAR},
            </if>
            <if test="hiddenFields != null">
                #{hiddenFields,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                #{modifiedBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yks.urc.entity.UrcSqlDO">
        update urc_sql
        <set>
            <if test="dataRuleSysId != null">
                data_rule_sys_id = #{dataRuleSysId,jdbcType=BIGINT},
            </if>
            <if test="entityCode != null">
                entity_code = #{entityCode,jdbcType=VARCHAR},
            </if>
            <if test="hiddenFields != null">
                hidden_fields = #{hiddenFields,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifiedBy != null">
                modified_by = #{modifiedBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yks.urc.entity.UrcSqlDO">
    update urc_sql
    set data_rule_sys_id = #{dataRuleSysId,jdbcType=BIGINT},
      entity_code = #{entityCode,jdbcType=VARCHAR},
      hidden_fields = #{hiddenFields,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>