<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.IUrcUserMapper">
    <resultMap id="BaseResultMap" type="com.yks.urc.entity.UrcUserDo">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="username"/>
        <result column="is_active" jdbcType="INTEGER" property="isActive"/>
        <result column="active_time" jdbcType="INTEGER" property="activeTime"/>
        <result column="ding_user_id" jdbcType="VARCHAR" property="dingUserId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy"/>
        <result column="modified_time" jdbcType="DATE" property="modifiedTime"/>
    </resultMap>
    <sql id="Base_column_list">
        id,user_name,is_active,active_time,ding_user_id,create_by,create_time,modified_by,modified_time
    </sql>
    <insert id="insertBatchUser" parameterType="com.yks.urc.entity.UrcUserDo">
        insert into urc_user
        (user_name,is_active,active_time,ding_user_id,create_by,modified_by)
        values
        <foreach collection="userDoList" item="list" separator=",">
            (#{list.username},
            #{list.isActive},
            #{list.activeTime},
            #{list.dingUserId},
            #{list.createBy},
            #{list.modifiedBy})
        </foreach>
    </insert>
    <delete id="deleteUrcUser">
        DELETE FROM urc_user
    </delete>
</mapper>