<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.IUserAffectedMapper">
    <resultMap id="BaseResultMap" type="com.yks.urc.entity.UserAffected">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
     id,user_name, create_by, create_time
   </sql>
    <insert id="saveAffectedUser" parameterType="java.util.HashMap">
        INSERT INTO urc_role_user_affected
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_name,create_by,create_time
        </trim>
        VALUES
        <if test="userNames != null and userNames.size() > 0">
              <foreach collection="userNames" item="item" separator="," index="index">
                  (#{item},#{createBy},#{createTime})
              </foreach>
           </if>

    </insert>
    <select id="selectAffectedUserList" resultType="java.lang.String">
        SELECT user_name
        FROM urc_role_user_affected
        LIMIT 100
    </select>
    <select id="deleteAffectedUserByUserNameList" parameterType="java.util.List" >
        DELETE FROM urc_role_user_affected
        <where>
            user_name in
            <foreach collection="userName" open="(" separator="," close=")" item="item" index="index">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="deleteAffectedUserByUserName" parameterType="java.lang.String" >
        DELETE FROM urc_role_user_affected
        <where>
            user_name = #{userName}
        </where>
    </select>
</mapper>