<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.OperationLogMapper">
  <resultMap id="BaseResultMap" type="com.yks.urc.entity.OperationLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="target_table" jdbcType="VARCHAR" property="targetTable" />
    <result column="target_identify" jdbcType="VARCHAR" property="targetIdentify" />
    <result column="target_name" jdbcType="VARCHAR" property="targetName" />
    <result column="target_result" jdbcType="VARCHAR" property="targetResult" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="operator_time" jdbcType="TIMESTAMP" property="operatorTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, target_table, target_identify, target_name, target_result, description, operator_time, 
    create_time, create_by, modified_time, modified_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from urc_operation_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from urc_operation_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yks.urc.entity.OperationLog">
    insert into urc_operation_log (id, target_table, target_identify, 
      target_name, target_result, description, 
      operator_time, create_time, create_by, 
      modified_time, modified_by)
    values (#{id,jdbcType=BIGINT}, #{targetTable,jdbcType=VARCHAR}, #{targetIdentify,jdbcType=VARCHAR}, 
      #{targetName,jdbcType=VARCHAR}, #{targetResult,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{operatorTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP}, #{modifiedBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yks.urc.entity.OperationLog">
    insert into urc_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="targetTable != null">
        target_table,
      </if>
      <if test="targetIdentify != null">
        target_identify,
      </if>
      <if test="targetName != null">
        target_name,
      </if>
      <if test="targetResult != null">
        target_result,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="operatorTime != null">
        operator_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="modifiedBy != null">
        modified_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="targetTable != null">
        #{targetTable,jdbcType=VARCHAR},
      </if>
      <if test="targetIdentify != null">
        #{targetIdentify,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null">
        #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="targetResult != null">
        #{targetResult,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null">
        #{operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yks.urc.entity.OperationLog">
    update urc_operation_log
    <set>
      <if test="targetTable != null">
        target_table = #{targetTable,jdbcType=VARCHAR},
      </if>
      <if test="targetIdentify != null">
        target_identify = #{targetIdentify,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null">
        target_name = #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="targetResult != null">
        target_result = #{targetResult,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="operatorTime != null">
        operator_time = #{operatorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null">
        modified_by = #{modifiedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yks.urc.entity.OperationLog">
    update urc_operation_log
    set target_table = #{targetTable,jdbcType=VARCHAR},
      target_identify = #{targetIdentify,jdbcType=VARCHAR},
      target_name = #{targetName,jdbcType=VARCHAR},
      target_result = #{targetResult,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      operator_time = #{operatorTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      modified_by = #{modifiedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>