<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.PermitItemPositionMapper">
  <resultMap id="BaseResultMap" type="com.yks.urc.entity.PermitItemPosition">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permit_key" jdbcType="VARCHAR" property="permitKey" />
    <result column="position_id" jdbcType="BIGINT" property="positionId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permit_key, position_id, creator, created_time, modifier, modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permit_item_position
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from permit_item_position
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yks.urc.entity.PermitItemPosition">
    insert into permit_item_position (id, permit_key, position_id, 
      creator, created_time, modifier, 
      modified_time)
    values (#{id,jdbcType=BIGINT}, #{permitKey,jdbcType=VARCHAR}, #{positionId,jdbcType=BIGINT}, 
      #{creator,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yks.urc.entity.PermitItemPosition">
    insert into permit_item_position
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permitKey != null">
        permit_key,
      </if>
      <if test="positionId != null">
        position_id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="permitKey != null">
        #{permitKey,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yks.urc.entity.PermitItemPosition">
    update permit_item_position
    <set>
      <if test="permitKey != null">
        permit_key = #{permitKey,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        position_id = #{positionId,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yks.urc.entity.PermitItemPosition">
    update permit_item_position
    set permit_key = #{permitKey,jdbcType=VARCHAR},
      position_id = #{positionId,jdbcType=BIGINT},
      creator = #{creator,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteBypositionId" parameterType="java.lang.Long">
    delete from permit_item_position
    where position_id = #{positionId}
  </delete>

  <insert id="insertPosition" parameterType="com.yks.urc.entity.PermitItemPosition">
    insert into permit_item_position ( permit_key, position_id,
      creator, created_time, modifier,
      modified_time)
    values
    <foreach collection="list"  item="item" separator="," index="index">
    ( #{item.permitKey}, #{item.positionId},
      #{item.creator}, #{item.createdTime}, #{item.modifier},
      #{item.modifiedTime})
    </foreach>
    ON DUPLICATE KEY UPDATE
    modifier = VALUES(modifier),
    modified_time = now(3)
  </insert>

  <delete id="deleteBypositionIdAndKey">
    delete from permit_item_position
    where position_id = #{positionId}
    <if test=" roleSysKey !=null and roleSysKey.size >0 ">
      AND   permit_key  IN
      <foreach collection="roleSysKey" index="index" item="sysYey" open="(" separator="," close=")">
        #{sysYey}
      </foreach>
    </if>
  </delete>

  <select id="getPermission" resultType="string">
    select sys_context
    from  urc_permission
    where status = 1
    and sys_key in
    <foreach collection="list" index="index" item="sysYey" open="(" separator="," close=")">
      #{sysYey}
    </foreach>
  </select>

  <select id="findOneSystemKey" resultType="string">
    select sys_key
    from urc_permission
    where status = 1
    <if test="sysType != null" >
      and sys_type = #{sysType}
    </if>
  </select>
</mapper>