<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.RoleOwnerMapper">
  <resultMap id="BaseResultMap" type="com.yks.urc.entity.RoleOwnerDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="owner" jdbcType="VARCHAR" property="owner"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="modified_by" jdbcType="VARCHAR" property="modifiedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, owner,create_time, create_by, modified_time, modified_by
  </sql>

  <select id="selectOwnerByRoleId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM urc_role_owner
    WHERE role_id =#{roleId}
  </select>
  <select id="selectOwnerByOwner" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM urc_role_owner
    WHERE owner =#{owner}
  </select>
</mapper>