<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yks.urc.mapper.UrcSystemAdministratorMapper">
  <resultMap id="BaseResultMap" type="com.yks.urc.entity.UrcSystemAdministrator">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sys_key" jdbcType="CHAR" property="sysKey" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_key, user_name, type, creator, modifier, create_time, modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from urc_system_administrator
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from urc_system_administrator
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yks.urc.entity.UrcSystemAdministrator">
    insert into urc_system_administrator (id, sys_key, user_name, 
      type, creator, modifier, 
      create_time, modified_time)
    values (#{id,jdbcType=BIGINT}, #{sysKey,jdbcType=CHAR}, #{userName,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yks.urc.entity.UrcSystemAdministrator">
    insert into urc_system_administrator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysKey != null">
        sys_key,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sysKey != null">
        #{sysKey,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yks.urc.entity.UrcSystemAdministrator">
    update urc_system_administrator
    <set>
      <if test="sysKey != null">
        sys_key = #{sysKey,jdbcType=CHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yks.urc.entity.UrcSystemAdministrator">
    update urc_system_administrator
    set sys_key = #{sysKey,jdbcType=CHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteBySysKey">
     delete from urc_system_administrator
     where sys_key = #{sysKey}
  </delete>

  <insert id="insertBatch" parameterType="list">
     insert into urc_system_administrator (sys_key, user_name,
      type, creator, modifier,
      create_time, modified_time)
    values
    <foreach collection="list"  item="item" separator="," index="index">
      (#{item.sysKey}, #{item.userName},
      #{item.type}, #{item.creator}, #{item.modifier},
      #{item.createTime}, #{item.modifiedTime})
    </foreach>
    on DUPLICATE key update
    modified_time=values(modified_time),
    modifier=values(modifier)
  </insert>

  <select id="selectBySysKey" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from urc_system_administrator
    <where>
      sys_key in
      <foreach collection="list" index="index" separator="," item="item" open="(" close=")">
         #{item}
      </foreach>
    </where>
  </select>

  <select id="selectSysKeyByAdministratorType" resultType="string">
    select distinct up.sys_key
    from urc_system_administrator usa
    inner join urc_permission up
    on up.sys_key = usa.sys_key and up.status = 1
    where usa.user_name = #{userName} and usa.type = #{type}
  </select>
</mapper>